{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block head_script %}
{% javascripts
    'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock head_script  	%}

{% block navbar %}
<nav class="navbar navbar-inverse" style="margin-top: 35px; background-color: rgba(0,0,0,0.4);">
    <div class="container">
	<div class="navbar-header">
		<div class="navbar-brand" style="margin: -35px 0; padding: 0;">
			<a href="#main">
			<img src="{{ asset("bundles/gyouthhome/images/default/signature.gif") }}"/>
			</a>
		</div>
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-main">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="collapse navbar-collapse" id="nav-main">
		<ul class="nav navbar-nav">
			<li><a href="#main">{{ 'So geht\'s'|trans }}</a></li>
			<li><a href="#begin">{{ 'So einfach'|trans }}</a></li>
			<li><a href="#kompakt">{{ 'So clever'|trans }}</a></li>
		</ul>
	</div>
    </div>
</nav>
{% endblock navbar %}

{% block flashes %}{% endblock flashes %}